heading {
    background-color:green;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}

html {
    background-image: url(https://wallpaperaccess.com/full/1155041.jpg);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

li {
    font-size: x-large;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }